---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title='About'>
  <h1>About</h1>
  <p>
    This page is created using Astro. It is hosted from my 10 year old low budget laptop with shitty specs using ubuntu
    server and NGINX.
  </p>
</MainLayout>
