---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title='Home'>
  <h1>Hello from ubuntu/nginx</h1>
  <img
    class='rounded-full w-24 h-24 md:w-32 md:h-32'
    src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh5wDX4ykC42Ay1KUiTsSolbqlEVWtLEBe4MytPZ_Cfg&s'
    alt='face'
  />
</MainLayout>
